// bower:scss
// endbower

@import "fonts";

body {
    font-family: "uni0553", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    background-color: red;

}
.canvas {

    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    bottom:0;
    right:0;

}

.lyrics{
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    bottom:0;
    right:0;

    .block{
        display: inline-block;
        position: absolute;

        top: 50%;
        // left: 50%;
        width: 100%;

        transform: translateY(-50%);

           color: white;
           text-shadow:
               3px 3px 0 #000,
             -1px -1px 0 #000,  
              1px -1px 0 #000,
              -1px 1px 0 #000,
               1px 1px 0 #000,
               -2px -2px 0 #000,  
              2px -2px 0 #000,
              -2px 2px 0 #000,
               2px 2px 0 #000;
        color: white;
    }

    .text{

        opacity: 0;
        visibility: hidden;

    }
    .text-center{
        text-align: center;
    }

}
.splash{
    position: absolute;
    color: white;

    top:0;
    left:0;
    bottom:0;
    right:0;

    text-align: center;
    
    .title{
           color: white;
           text-shadow:
               3px 3px 0 #000,
             -1px -1px 0 #000,  
              1px -1px 0 #000,
              -1px 1px 0 #000,
               1px 1px 0 #000;
    }

    .button{

        position: absolute;

        color: white;
        border-radius: 0;
        border: 3px solid white;
        background: #168B4B;
        padding: 10px 20px;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        transition: color .1s ease-out, border-color .1s ease-out, background-color .1s linear;

        font-family: "uni0553", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        
        outline: none;

        &:hover{
            background-color: white;
            color: #168B4B;
            border-color: grey;
        }
        &:active{
            background-color: #168B4B;
            color: white;
            border-color: white;
        }

    }
    
    .credits{
        position: absolute;
        color: black;
        font-size: 12px;
        bottom: 10px;
        right: 10px;
    }
}

.switcher{
    position: absolute;

    display: none;

    width: 128px;
    height: 24px;
    border: 2px solid rgba(100,100,100,0.8);

    left: 10px;
    bottom: 10px;

    background-color: rgba(27,27,27,0.8);
    
    &:before{
        display: inline-block;
        position: absolute;
        width: 64px;
        height: 100%;
        text-align: center;
        color: white;
        font-size: 16px;
        line-height: 20px;
        left: 0;
    
        -webkit-transition: transform .1s ease-out, background-color .1s ease-out, color .1s ease-out;
        -moz-transition: transform .1s ease-out, background-color .1s ease-out, color .1s ease-out;
        transition: transform .1s ease-out, background-color .1s ease-out, color .1s ease-out;


    }
    &.on{
        &:before{
            content: 'ON';
            background-color: rgba(27,100,27,0.8);
        }
        &:hover:before{
            background-color: rgba(60,200,60,0.8);
        }

    }
    &.off{
        &:before{
            content: 'OFF';
            background-color: rgba(100,27,27,0.8);
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            transform: translateX(100%);
        }
        &:hover:before{
            background-color: rgba(200,60,60,0.8);
        }
        
    }
}
